@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .nav__menu {
    gap: 40px;
  }
  .menu {
    gap: 30px;
  }
  .hero__avatar {
    width: 529px;
    height: 480px;
  }
}

@media (max-width: 992px) {
  .nav__menu {
    gap: 20px;
  }
  .menu {
    gap: 10px;
  }
  .hero__avatar {
    width: 429px;
    height: 380px;
  }
}
@media (max-width: 930px) {
  .menu {
    gap: 20px;
  }
  .nav__button {
    display: none;
  }

  .hero__content {
    align-self: flex-start;
  }
  .container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .hero__title {
    font-size: 4.8rem;
  }
  .hero__cation {
    font-size: 2rem;
  }
}
@media (max-width: 865px) {
  .hero__avatar {
    width: 379px;
    height: 330px;
  }
}

@media (max-width: 768px) {
  .toggle-icon {
    display: block;
  }
  .menu__wrapper {
    width: 300px;
    height: auto;
    display: none;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
  }
  .menu {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .menu__item {
    margin: 5px 0;
    text-align: center;
  }
  .hero__avatar {
    width: 319px;
    height: 270px;
  }
  .hero__title {
    font-size: 3.8rem;
  }
  .hero__cation {
    font-size: 1.8rem;
  }
  .title__yellow::after {
    width: 200px;
    height: 5px;
    top: 60px;
    left: -20px;
  }
}
@media (max-width: 700px) {
  .hero__avatar {
    width: 259px;
    height: 210px;
  }
}
@media (max-width: 576px) {
  .nav__logo {
    width: 97px;
    height: 62px;
  }
  .hero__button,
  .video__player__text {
    font-size: 16px;
  }
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .hero__avatar {
    align-self: center;
    width: 299px;
    height: 270px;
  }
}
@media (max-width: 480px) {
}
